<div id="header" class="head">
<ul style="float:left;">
 <li style="padding:0 10px 0 50px;"><a class="logo" href="${sitePath}index.html"></a></li>
 <li style="padding:5px 0">
 <form action="${sitePath}beauty" method="get" target="_blank" class="input-group" style="position:relative">
      <input name="word" type="text"  class="search-input" placeholder="找你所爱...">
      <input type="submit" class="s_btn" value="">
    
</form>
 </li>
 <li style="margin-left:10px"></li>
 <% for(var i=0;i<topictypes.~size;i++)  { 
    if(i<7){ 
  var item=topictypes[i];%>
 <li><a href="${sitePath}topic/${item.dictitemName}/index.html" target="_blank">${item.dictitemValue}</a></li>
 <% }} %>
 <li style="width: 136px">
 <a id="more_nav" class="more">发现更多</a>
 <div id="more_nav_panel" class="more_panel" style="display: none;" >
 <% for(var item in topictypes)  { %>
 <a href="${sitePath}topic/${item.dictitemName}/index.html" target="_blank">${item.dictitemValue}</a>
 <% } %>
 </div>
 </li>
 </ul>
 <ul id="llogin" style="float:right;margin-right:10px;">
</ul>
</div>