<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <mappers>
   	   <mapper resource="sqlmap/SysAccountMapper.xml"/>
       <mapper resource="sqlmap/EntryMapper.xml"/>
       <mapper resource="sqlmap/TopicMapper.xml"/>
       <mapper resource="sqlmap/TopicToTagMapper.xml"/>
       <mapper resource="sqlmap/FullIndexMapper.xml" />
       <mapper resource="sqlmap/ImgFileMapper.xml" />
    </mappers>
</configuration>